<div class="center-block reset-password">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Redefinir senha</h3>
    </div>
    <div class="panel-body">
      <div class="alert alert-success" ng-show="resetPassword.resetStatus">
        Um e-mail com um link foi enviado para sua caixa de e-mail, talvez demore alguns minutos.
      </div>

      <div class="alert alert-danger" ng-show="resetPassword.resetStatusMessage">
        {{resetPassword.resetStatusMessage}}
      </div>

      <form name="resetForm">
        <div class="form-group">
          <label for="email">Digite o e-mail da sua conta</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="e-mail"
            ng-model="email"
            ng-required="true">
        </div>
        <button
          class="btn btn-primary btn-block"
          ng-disabled="resetForm.$invalid || resetPassword.inProgress"
          ng-click="resetPassword.reset(email)">
          Redefinir
        </button>
      </form>
    </div>
  </div>
</div>
