<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Plano de Negócio</span>
    </div>
    <div class="collapese navbar-collapse">
      <ul class="nav navbar-nav">

        <li class="dropdown" ng-class="{open: showMenu}">
          <a href="#" class="dropdown-toggle" ng-click="showMenu = !showMenu" aria-expanded="false">Passos <span class="caret"></span></a>
          <ul class="dropdown-menu" ng-click="showMenu = false">
            <li><a href="/plano/01">Passo 1 - Nome do Plano / Tipo de atividade</a></li>
            <li><a href="/plano/02">Passo 2 - Produtos / Clientes</a></li>
            <li><a href="/plano/03">Passo 3 - Concorrentes / Fornecedores</a></li>
            <li><a href="/plano/04">Passo 4 - Instalação / Divulgação</a></li>
            <li><a href="/plano/05">Passo 5 - Investimento Inicial</a></li>
            <li><a href="/plano/06">Passo 6 - Custos variáveis</a></li>
            <li><a href="/plano/07">Passo 7 - Custos fixos mensais</a></li>
            <li><a href="/plano/08">Passo 8 - Receitas operacionais</a></li>
            <li><a href="/plano/resultado">Demostrativo de resultado</a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-right" ng-if="$rootScope.currentUser">
        <button class="btn btn-default navbar-btn">Visualizar</button>
        <button class="btn btn-default navbar-btn">Imprimir</button>
        <button class="btn btn-success navbar-btn">Pronto p/ correção</button>
        <button class="btn btn-default navbar-btn">Sair</button>
      </div>
    </div>
  </div>
</nav>
