<navigation></navigation>

<div class="col-md-9 col-sm-9">
  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Passo 1 - Nome do Plano / Tipo de atividade</h3>
      </div>
      <form name="form01" class="panel-body">
          <div class="row">
              <div class="form-group col-md-6">
                  <label for="">Digite aqui o Nome do seu Negócio</label>
                  <input
                    class="form-control"
                    type="text"
                    ng-model="plano.dados.nome"
                    ng-required="true">
              </div>
              <div class="form-group col-md-6">
                  <label for="">Nome completo ou nome do seu grupo</label>
                  <input
                    class="form-control"
                    type="text"
                    ng-model="plano.dados.grupo">
              </div>
          </div>
          <div class="form-group">
              <label for="">Qual a atividade que você pretende montar?</label>
              <help
                class="pull-right"
                explicacao="Aqui você deve explicar o objetivo do seu negócio.  Descrever a atividade que você pretende exercer e quais os conhecimentos que você possui para exercê-la."
                servico="Trabalhei durante 5 anos numa grande empresa de instalação e manutenção de sistemas de ar condicionado em estabelecimentos comerciais, onde adquiri muita experiência e treinamento. Resolvi então montar um pequeno negócio particular de instalação e manutenção de sistemas de ar condicionado, em residências e estabelecimentos comerciais."
                industria="A fábrica de velas BEM ILUMINADA pretende industrializar velas de parafina, que incluem velas comuns e de 7 dias.O processo de produção de velas é bastante simples e a mão-de-obra não necessita de qualificação especial, sendo o tipo de empresa que possui um bom índice de rentabilidade.Os investimentos para essa diversificação não são pesados e apresenta um grau de risco médio."
                comercio="A Imperatriz das Tintas irá comercializar produtos de qualidade para reformas e pinturas de imóveis, atendendo o cliente de forma ágil e personalizada.">
              </help>
              <textarea
                class="form-control"
                rows="5"
                ng-model="plano.dados.atividade"
                ng-required="true">
              </textarea>
          </div>
        </form>
    </div>
  <button
    class="btn btn-primary btn-block btn-lg"
    ng-click="plano.save(plano.dados)"
    ng-disabled="form01.$invalid">
    Salvar
  </button>
</div>
