<navigation></navigation>

<div class="col-md-9 col-sm-9" ng-if="!plano.passosConcluidos().plano02">
  <div name="div02" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Você ainda não preencheu os passos anteriores!</h3>
    </div>

    <div class="panel-body">
      Preencha o passo anterior!
    </div>
  </div>
</div>

<div class="col-md-9 col-sm-9" ng-if="plano.passosConcluidos().plano02">
  <form name="form03" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Passo 3 - Concorrentes / Fornecedores</h3>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <label for="">Quem são os seus concorrentes?</label>
        <help
          class="pull-right"
          explicacao="Aqui, procure registrar todas as informações sobre as pessoas e empresas que negociam mercadorias ou serviços iguais ou semelhantes aos que você pretende colocar no mercado. Observe o mercado concorrente através das mercadorias ou serviços que ele oferece. Preste atenção em características como: qualidade, preço, acabamento, durabilidade, funcionalidade, embalagem, tamanho, qualidade no atendimento, facilidade de acesso, forma de pagamento, etc. Você ainda pode experimentar as mercadorias ou serviços que estarão concorrendo com o seu (verificando o que pode ser melhorado); verifique o nível de satisfação do consumidor em relação às mercadorias ou serviços disponíveis;  observe quantas empresas estão oferecendo produtos ou serviços semelhantes aos seus; observe o tamanho dessas empresas. Procure analisar em que ponto você pode se diferenciar deles."
          servico="Não pude levantar especificamente quantos profissionais executam o mesmo trabalho que eu, porém procuro manter-me atualizado com os novos aparelhos e sistemas, faço cursos e invisto em qualificação. Apesar de não saber o número exato de concorrentes, tenho certeza que o número não impede a execução de minha atividade."
          industria="Apesar do consumo do produto ser grande, existe muita concorrência. A facilidade de produção torna a atividade chamativa a outros empreendedores da chamada economia informal, que tal como nós, são fabricantes de fundo de quintal. Esta condição faz com que consigamos oferecer preços mais baixos, já que não efetuamos o pagamento de impostos nem quaisquer outras obrigações legais. Fizemos uma pesquisa local e constatamos que a concorrência perde vendas devido ao baixo conhecimento na fabricação e distribuição dos produtos. Em virtude da grande concorrência, tomaremos medidas para que nosso produto seja mais competitivo, tanto no que se refere a qualidade e preço, como também através de uma diversificação e criatividade nos modelos de velas comuns e de sete dias."
          comercio="Não existem concorrentes diretos, embora existam algumas lojas de materiais de construção que comercializam produtos para reformas.São cinco estabelecimentos que podem ser classificadas como concorrentes indiretos.">
        </help>
        <textarea
          class="form-control"
          rows="5"
          ng-model="plano.dados.concorrentes"
          ng-required="true"
          ng-disabled="plano.bloqueadoParaEditar()">
        </textarea>
        <revisao text="plano.revisao.concorrentes"></revisao>
      </div>
      <div class="form-group">
        <label for="">Quem são os seus fornecedores?</label>
        <help
          class="pull-right"
          explicacao="Aqui, procure relacionar informações sobre fornecedores de máquinas, equipamentos, matéria-prima, mercadorias e outros materiais e serviços que você vai necessitar para produzir, vender mercadorias ou prestar serviços. Considere: distância física, referências, custo de frete, qualidade, capacidade de fornecimento, preço, prazo, forma de pagamento e de entrega."
          servico="Os equipamentos que necessito podem ser adquiridos em lojas de materiais elétricos (equipamentos, fita isolante etc). Não existe a necessidade de grandes levantamentos, pois o equipamento não implica em frete ou problemas de distância."
          industria="Existem bons fornecedores de matéria-prima, ou seja, da parafina. Já o barbante é encontrado com facilidade no mercado. Faremos a aquisição da matéria-prima diretamente com o fabricante. O frete fica por nossa conta. Planejamos administrar estes fatores através de um bom nível de estoque, com capital de giro satisfatório e muita criatividade, para diminuirmos os riscos."
          comercio="Todos os fornecedores de materiais para a Imperatriz das Tintas são fabricantes, e localizam-se na capital, mas possuem vendedores que fazem visitas periódicas aos varejistas. As mercadorias demoram de sete a dez dias para serem entregues, a contar da data do pedido, sendo o frete por conta do comprador. Os fabricantes praticam preço de mercado, e oferecem descontos atrativos para grandes pedidos. Uma boa alternativa de fornecimento são os atacadistas que, no entanto, praticam preços mais elevados daqueles dos fabricantes.">
        </help>
        <textarea
          class="form-control"
          rows="5"
          ng-model="plano.dados.fornecedores"
          ng-required="true"
          ng-disabled="plano.bloqueadoParaEditar()">
        </textarea>
        <revisao text="plano.revisao.fornecedores"></revisao>
      </div>
    </div>
  </form>

  <button
    class="btn btn-primary btn-block btn-lg"
    ng-click="plano.save(plano.dados)"
    ng-disabled="form03.$invalid"
    ng-if="!plano.bloqueadoParaEditar()">
    Salvar
  </button>
</div>
