<navigation></navigation>

<div class="col-md-9 col-sm-9" ng-if="!plano.passosConcluidos().plano03">
  <div name="div02" class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Você ainda não preencheu os passos anteriores!</h3>
      </div>

      <div class="panel-body">
        Preencha o passo anterior!
      </div>
  </div>
</div>

<div class="col-md-9 col-sm-9" ng-if="plano.passosConcluidos().plano03">
  <form name="form04" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Passo 4 - Instalação / Divulgação</h3>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <label for="">Onde pretendo instalar o negócio?</label>
        <help
          class="pull-right"
          explicacao="Aqui, analise a opção de escolha pelo local e o espaço físico onde você pretende instalar sua empresa. Estas considerações são muito importantes, portanto, defina critérios para avaliação, levando em conta: facilidade de acesso, estacionamento, e fluxo de tráfego; infra-estrutura local (oferta de serviços públicos de transporte, segurança, limpeza, energia elétrica, telefone, gás, água encanada, entre outros); potencial do mercado; facilidade para aquisição de matéria-prima ou mercadoria; facilidade de recrutamento de mão-de-obra; atendimento às possíveis exigências da legislação, etc."
          servico="Possuo um pequeno espaço no fundo de minha residência, que já utilizo a algum tempo como oficina de marcenaria. Possuo algumas ferramentas que vão me auxiliar. O local é bem arrumado, possuí telefone e está com as instalações elétricas em ordem. O local possui uma área que pode servir de estacionamento no caso de precisar levar algum aparelho para a oficina."
          industria="Como o processo produtivo é simples e rápido, a fabrica ficará localizada num galpão localizado nos fundos de minha residência. O galpão será dividido de forma a comportar uma área para estoque de matéria-prima; um tacho de derretimento da matéria-prima; uma máquina modeladora; um espaço para embalagem e outro para mercadoria pronta para expedição. O local planejado para a máquina modeladora necessita de uma pequena obra para instalação de equipamento hidráulico e elétrico. As dimensões do galpão são reduzidas, correspondente à área de produção com a instalação dos equipamentos necessários. A área é de 40 m2. Apesar de ser uma atividade informal, fizemos uma consulta ao Corpo de Bombeiros quanto às normas de segurança e equipamentos necessários, principalmente em relação à quantidade e localização dos extintores de incêndios."
          comercio="A Imperatriz das Tintas será estabelecida na cidade de Lá Longe, no bairro central. Será instalada em ponto comercial, alugado, situado próximo à Avenida central da cidade. O ponto fica próximo ao comércio local, sendo facilemnte visualizado e possuindo acesso facilitado para os clientes. O ponto precisará de uma pequena reforma de fachada e recuperação da instalação elétrica/hidráulica.">
        </help>
        <textarea
          class="form-control"
          rows="5"
          ng-model="plano.dados.localizacao"
          ng-required="true">
        </textarea>
      </div>
      <div class="form-group">
        <label for="">Como pretende promover/divulgar os produtos/seviços?</label>
        <help
          class="pull-right"
          explicacao="Aqui você vai descrever os mecanismos de marketing que vai utilizar para contatar seus clientes, os tipos de promoções que oferecerá para divulgar e vender os seus produtos."
          servico="Vou fazer uma divulgação boca a boca. Pretendo fazer panfletos de divulgação, e anunciar no jornal da associação de moradores. Existe uma iniciativa dos comerciantes locais de criar uma pequena revista, só de prestação de serviços, e assim que ela estiver pronta, serei um anunciante. Acredito que nesta atividade a melhor propaganda é o serviço bem executado, por um preço em conta."
          industria="Os produtos iniciais da Fábrica de velas BEM ILUMINADA serão comercializados em unidades e cartuchos. Promoveremos uma distribuição de folhetos informativos sobre o produto, suas características e vantagens. Como o produto em questão já existe no mercado há muitos anos, pretendemos desenvolver técnicas para difundir e aumentar seu consumo. Existe a previsão de anúncios em jornais de bairros, bem como distribuição de kits demonstrativos para alguns setores da cidade."
          comercio="Inicialmente, os produtos e serviços serão divulgados através distribuição de panfletos. Posteriormente a divulgação será feita também através de anúncios no jornal criado pelos comerciantes locais. Outra alternativa é a divulgação através de pinturas de muros (aproveitando para realçar a qualidade de seus próprios produtos). Está nos planos de divulgação, a pintura gratuita da área externa de estabelecimentos sorteados (clientes) como outra forma de consolidação dos produtos.">
        </help>
        <textarea
          class="form-control"
          rows="5"
          ng-model="plano.dados.divulgacao"
          ng-required="true">
        </textarea>
      </div>
    </div>
  </form>

  <button
    class="btn btn-primary btn-block btn-lg"
    ng-click="plano.save(plano.dados)"
    ng-disabled="form04.$invalid">
    Salvar
  </button>
</div>
