<form name="form04" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Passo 4 - Instalação / Divulgação</h3>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <label for="">Onde pretendo instalar o negócio?</label>
      <textarea
        class="form-control"
        rows="5"
        ng-model="dados.localizacao"
        ng-required="true">
      </textarea>
    </div>
    <div class="form-group">
      <label for="">Como pretende promover/divulgar os produtos/seviços?</label>
      <textarea
        class="form-control"
        rows="5"
        ng-model="dados.divulgacao"
        ng-required="true">
      </textarea>
    </div>
  </div>
</form>

<button
  class="btn btn-primary btn-block btn-lg"
  ng-click="plano.save(dados)"
  ng-disabled="form04.$invalid">
  Salvar
</button>
