<navigation></navigation>

<div class="col-md-9 col-sm-9" ng-if="!plano.passosConcluidos().plano06">
  <div name="div02" class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Você ainda não preencheu os passos anteriores!</h3>
      </div>

      <div class="panel-body">
        Preencha o passo anterior!
      </div>
  </div>
</div>

<div class="col-md-9 col-sm-9" ng-if="plano.passosConcluidos().plano06">
  <form name="plano.form07" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Passo 7 - Custos fixos mensais</h3>
    </div>

    <table class="table table-striped table-bordered">
      <tr>
        <td colspan="2">
          <help
            class="pull-right"
            explicacao="Aqui você deverá descrever todos os custos que independam do volume da produção ou vendas (mesmo que as vendas sejam iguais a zero, em dado período, haverá pagamento de determinados valores, como aluguel, por exemplo)."
            servico='<table class="table table-striped table-bordered"> <tr> <th colspan="5" class="text-center">CUSTOS FIXOS MENSAIS</th> </tr> <tr> <td>Discriminação</td> <td>Valor (R$)</td> </tr> <tr> <td>Aluguel mais taxas de condomínio</td> <td>100,00</td> </tr> <tr> <td>Mão-de-obra com custos trabalhistas</td> <td>0,00</td> </tr> <tr> <td>Mão-de-obra - Encargos Sociais e Trabalhistas</td> <td>0,00</td> </tr> <tr> <td>Mão-de-obra sem custos trabalhistas</td> <td>0,00</td> </tr> <tr> <td>Água/Luz/Telefone</td> <td>100,00</td> </tr> <tr> <td>Veículo/Transporte</td> <td>0,00</td> </tr> <tr> <td>Contador</td> <td>0,00</td> </tr> <tr> <td>Retiradas (Pró-labore)</td> <td>0,00</td> </tr> <tr> <td>Manutenção/Limpeza</td> <td>20,00</td> </tr> <tr> <td><strong>SUB-TOTAL</strong></td> <td><strong>220,00</strong></td> </tr> <tr> <td>Reservas de emergência (5%)</td> <td>11,00</td> </tr> <tr> <tr> <td><strong>TOTAL</strong></td> <td><strong>231,00</strong></td> </tr> </table>'
            industria='<table class="table table-striped table-bordered"> <tr> <th colspan="5" class="text-center">CUSTOS FIXOS MENSAIS</th> </tr> <tr> <td>Discriminação</td> <td>Valor (R$)</td> </tr> <tr> <td>Aluguel mais taxas de condomínio</td> <td>0,00</td> </tr> <tr> <td>Mão-de-obra com custos trabalhistas</td> <td>0,00</td> </tr> <tr> <td>Mão-de-obra - Encargos Sociais e Trabalhistas</td> <td>0,00</td> </tr> <tr> <td>Mão-de-obra sem custos trabalhistas</td> <td>0,00</td> </tr> <tr> <td>Água/Luz/Telefone</td> <td>120,00</td> </tr> <tr> <td>Veículo/Transporte</td> <td>0,00</td> </tr> <tr> <td>Contador</td> <td>0,00</td> </tr> <tr> <td>Retiradas (Pró-labore)</td> <td>0,00</td> </tr> <tr> <td>Manutenção/Limpeza</td> <td>50,00</td> </tr> <tr> <td><strong>SUB-TOTAL</strong></td> <td><strong>170,00</strong></td> </tr> <tr> <td>Reservas de emergência (5%)</td> <td>8,50</td> </tr> <tr> <tr> <td><strong>TOTAL</strong></td> <td><strong>175,50</strong></td> </tr> </table>'
            comercio='<table class="table table-striped table-bordered"> <tr> <th colspan="5" class="text-center">CUSTOS FIXOS MENSAIS</th> </tr> <tr> <td>Discriminação</td> <td>Valor (R$)</td> </tr> <tr> <td>Aluguel mais taxas de condomínio</td> <td>180,00</td> </tr> <tr> <td>Mão-de-obra com custos trabalhistas</td> <td>0,00</td> </tr> <tr> <td>Mão-de-obra - Encargos Sociais e Trabalhistas</td> <td>0,00</td> </tr> <tr> <td>Mão-de-obra sem custos trabalhistas</td> <td>0,00</td> </tr> <tr> <td>Água/Luz/Telefone</td> <td>200,00</td> </tr> <tr> <td>Veículo/Transporte</td> <td>0,00</td> </tr> <tr> <td>Contador</td> <td>0,00</td> </tr> <tr> <td>Retiradas (Pró-labore)</td> <td>0,00</td> </tr> <tr> <td>Manutenção/Limpeza</td> <td>50,00</td> </tr> <tr> <td><strong>SUB-TOTAL</strong></td> <td><strong>430,00</strong></td> </tr> <tr> <td>Reservas de emergência (5%)</td> <td>21,50</td> </tr> <tr> <tr> <td><strong>TOTAL<strong></td> <td><strong>451,50</strong></td> </tr> </table>'>
          </help>
        </td>
      </tr>
      <tr>
        <th class="text-center" colspan="2">Quais serão os custos fixos mensais?</th>
      </tr>
      <tr>
        <th>Discriminação</th>
        <th class="col-md-2">Valor (R$)</th>
      </tr>
      <tr>
        <td>Mão-de-obra (salário bruto)</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.maoDeObra"
            ng-init="0"
            ui-money-mask
            ng-disabled="plano.bloqueadoParaEditar()">
        </td>
      </tr>
      <tr>
        <td>Encargos sociais e trabalhistas</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.encargos"
            disabled="true"
            ng-init="0"
            ui-money-mask>
        </td>
      </tr>
      <tr>
        <td>Aluguel mais taxas de condomínio</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.aluguelCondominio"
            ng-init="0"
            ui-money-mask
            ng-disabled="plano.bloqueadoParaEditar()">
        </td>
      </tr>
      <tr>
        <td>Água/Luz</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.aguaLuz"
            ng-init="0"
            ui-money-mask
            ng-disabled="plano.bloqueadoParaEditar()">
        </td>
      </tr>
      <tr>
        <td>Telefone/Internet</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.telefoneInternet"
            ng-init="0"
            ui-money-mask
            ng-disabled="plano.bloqueadoParaEditar()">
        </td>
      </tr>
      <tr>
        <td>Veículo/Transporte</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.veiculoTransporte"
            ng-init="0"
            ui-money-mask
            ng-disabled="plano.bloqueadoParaEditar()">
        </td>
      </tr>
      <tr>
        <td>Publicidade/Propaganda</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.publicidadePropaganda"
            ng-init="0"
            ui-money-mask
            ng-disabled="plano.bloqueadoParaEditar()">
        </td>
      </tr>
      <tr>
        <td>Contador</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.contador"
            ng-init="0"
            ui-money-mask
            ng-disabled="plano.bloqueadoParaEditar()">
        </td>
      </tr>
      <tr>
        <td>Retiradas (Pro labore)</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.retiradas"
            ng-init="0"
            ui-money-mask
            ng-disabled="plano.bloqueadoParaEditar()">
        </td>
      </tr>
      <tr>
        <td>Manutenção/Limpeza</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.manutemcaoLimpeza"
            ng-init="0"
            ui-money-mask
            ng-disabled="plano.bloqueadoParaEditar()">
        </td>
      </tr>
      <tr>
        <td>Taxa do MEI</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.taxaMEI"
            ng-init="0"
            ui-money-mask
            ng-disabled="plano.bloqueadoParaEditar()">
        </td>
      </tr>
      <tr>
        <td>Outros</td>
        <td>
          <input
            class="form-control input-sm"
            type="text"
            ng-model="plano.dados.custosFixos.outros"
            ng-init="0"
            ui-money-mask
            ng-disabled="plano.bloqueadoParaEditar()">
        </td>
      </tr>
      <tr>
        <td><strong>SUB-TOTAL</strong></td>
        <td><strong>{{plano.totalSimples(plano.dados.custosFixos) | currency}}</strong></td>
      </tr>
      <tr>
        <td>Reservas de emergência (5%)</td>
        <td>
          {{(reservaDeEmergencia = ((plano.totalSimples(plano.dados.custosFixos) * 5) / 100) || '') | currency}}
        </td>
      </tr>
      <tr>
        <td><strong>TOTAL</strong></td>
        <td>
          <strong>
            {{plano.totalSimples(plano.dados.custosFixos) + reservaDeEmergencia | currency}}
          </strong>
        </td>
      </tr>
    </table>
  </form>

  <button
    class="btn btn-primary btn-block btn-lg"
    ng-disabled="plano.form07.$invalid"
    ng-click="plano.save(plano.dados)"
    ng-if="!plano.bloqueadoParaEditar()">
    Salvar
  </button>
</div>
