<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Passo 8 - Receitas operacionais</h3>
  </div>

  <form name="form8" class="panel-body">
    <h5><strong>Quais serão as receitas operacionais mensais?</strong></h5>
    <hr>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="">Descrição</label>
        <input
          class="form-control"
          type="text"
          ng-model="receita.descricao"
          ng-required="true">
      </div>
      <div class="form-group col-md-2">
        <label for="">Unidade</label>
        <input
          class="form-control"
          type="text"
          ng-model="receita.unidade"
          ng-required="true">
      </div>
      <div class="form-group col-md-2">
        <label for="">Quantidade</label>
        <input
          class="form-control"
          type="number"
          ng-model="receita.quantidade"
          ng-required="true">
      </div>
      <div class="form-group col-md-2">
        <label for="">Valor</label>
        <input
          class="form-control"
          type="number"
          ng-model="receita.valor"
          ng-required="true">
      </div>
    </div>

    <button
      class="btn btn-default"
      ng-disabled="form8.$invalid"
      ng-click="plano.adicionarReceita(receita)">
      Adicionar
    </button>

    <button
      class="btn btn-danger"
      ng-click="plano.removerReceita(plano.dados.receitas)"
      ng-if="plano.isReceitaSelecionada(plano.dados.receitas)">
      Remover
    </button>
  </form>

  <table
    class="table table-striped table-bordered"
    ng-show="plano.dados.receitas.length > 0">
    <tr>
      <th></th>
      <th>Descrição</th>
      <th>Unidade</th>
      <th>Quantidade</th>
      <th>Valor</th>
      <th>Total</th>
    </tr>
    <tr ng-repeat="i in plano.dados.receitas">
      <td><input type="checkbox" ng-model="i.selecionado"></td>
      <td>{{i.descricao}}</td>
      <td>{{i.unidade}}</td>
      <td>{{i.quantidade}}</td>
      <td>{{i.valor}}</td>
      <td>{{i.valor * i.quantidade}}</td>
    </tr>
    <tr>
      <td colspan="5"><strong>TOTAL GERAL:</strong></td>
      <td><strong>{{plano.totalGeral(plano.dados.receitas)}}</strong></td>
    </tr>
  </table>
</div>

<button
  class="btn btn-primary btn-block btn-lg"
  ng-disabled="plano.dados.receitas == null || plano.dados.receitas.length < 1"
  ng-click="plano.save(plano.dados)">
    Salvar
  </button>
