<navigation></navigation>

<div class="col-md-9 col-sm-9" ng-if="!plano.passosConcluidos().plano08">
  <div name="div02" class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Você ainda não preencheu os passos anteriores!</h3>
      </div>

      <div class="panel-body">
        Preencha o passo anterior!
      </div>
  </div>
</div>

<div class="col-md-9 col-sm-9" ng-if="plano.passosConcluidos().plano08">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Demostrativo de resultado</h3>
    </div>

    <table class="table table-striped table-bordered">
      <tr>
        <th class="text-center" colspan="2">DEMONSTRATIVO DE RESULTADOS MENSAL</th>
      </tr>
      <tr>
        <th>Discriminação</th>
        <th>Valor (R$)</th>
      </tr>
      <tr>
        <td>Receitas Operacionais</td>
        <td ng-class="{ danger: plano.receitas < 0 }">{{plano.receitas | currency}}</td>
      </tr>
      <tr>
        <td>Custos Variáveis Totais</td>
        <td ng-class="{ danger: plano.custosVariaveisTotais < 0 }">{{plano.custosVariaveisTotais | currency}}</td>
      </tr>
      <tr>
        <td>MARGEM DE CONTRIBUIÇÃO</td>
        <td ng-class="{ danger: plano.margemDeContribuicao < 0 }">{{plano.margemDeContribuicao | currency}}</td>
      </tr>
      <tr>
        <td>Custos Fixos</td>
        <td ng-class="{ danger: plano.custosFixosTotais < 0 }">{{plano.custosFixosTotais | currency}}</td>
      </tr>
      <tr>
        <td>RESULTADO OPERACIONAL</td>
        <td ng-class="{ danger: plano.resultadoOperacional < 0 }">{{plano.resultadoOperacional | currency}}</td>
      </tr>
    </table>

    <hr>

    <table class="table table-striped table-bordered">
      <tr>
        <th class="text-center" colspan="2">TEMPO DE RETORNO</th>
      </tr>
      <tr>
        <th>Discriminação</th>
        <th>Valor (R$)</th>
      </tr>
      <tr>
        <td>Investimento Fixo</td>
        <td ng-class="{ danger: plano.investimento < 0 }">{{ plano.investimento | currency }}</td>
      </tr>
      <tr>
        <td>Capital de Giro = (Custo Mensal x 2)</td>
        <td ng-class="{ danger: plano.capitalDeGiro < 0 }">{{ plano.capitalDeGiro | currency }}</td>
      </tr>
      <tr>
        <td>Investimento Total</td>
        <td ng-class="{ danger: plano.investimentoTotal < 0 }">{{ plano.investimentoTotal | currency }}</td>
      </tr>
      <tr>
        <td>Receita Mensal</td>
        <td ng-class="{ danger: plano.receitas < 0 }">{{ plano.receitas | currency }}</td>
      </tr>
      <tr>
        <td>Custo Mensal = (Custos Fixos + Custos Variáveis)</td>
        <td ng-class="{ danger: plano.despesas < 0 }">{{ plano.despesas | currency }}</td>
      </tr>
      <tr>
        <td>Saldo Mensal</td>
        <td ng-class="{ danger: plano.lucro < 0 }">{{ plano.lucro | currency }}</td>
      </tr>
      <tr>
        <td>Tempo de Retorno (Meses) = (Investimento Total / Saldo Mensal)</td>
        <td ng-class="{ danger: plano.taxaDeRetorno < 0 }">{{ plano.taxaDeRetorno | number:2 }}</td>
      </tr>
    </table>

    <div class="panel-body">
      <revisao text="plano.revisao.demonstrativo"></revisao>
    </div>
  </div>
</div>
