body {
  padding-top: 70px;
}

.loading {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  background-image: url(images/grid.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.mensagens .alert {
  display: none;
}

.mensagens .alert:first-child {
  display: block;
}

.navbar-brand a {
  text-decoration: none;
  color: #777;
}

.navbar-brand a:hover {
  color: #555;
}
